
\.Rproj\.user/6821FD86/console06/

\.Rproj\.user/6821FD86/cpp-complilation-config

\.Rproj\.user/6821FD86/cpp-definition-cache

\.Rproj\.user/6821FD86/pcs/files-pane\.pper

\.Rproj\.user/6821FD86/pcs/source-pane\.pper

\.Rproj\.user/6821FD86/pcs/windowlayoutstate\.pper

\.Rproj\.user/6821FD86/pcs/workbench-pane\.pper

\.Rproj\.user/6821FD86/persistent-state

\.Rproj\.user/6821FD86/rmd-outputs

\.Rproj\.user/6821FD86/saved_source_markers

\.Rproj\.user/6821FD86/sources/per/t/3346755E

\.Rproj\.user/6821FD86/sources/per/t/3346755E-contents

\.Rproj\.user/6821FD86/sources/per/t/C802D92C

\.Rproj\.user/6821FD86/sources/per/t/C802D92C-contents

\.Rproj\.user/6821FD86/sources/prop/243BD930

\.Rproj\.user/6821FD86/sources/prop/BDD100A8

\.Rproj\.user/6821FD86/sources/prop/C911FDD7

\.Rproj\.user/6821FD86/sources/prop/INDEX

\.Rproj\.user/E9188691/cpp-complilation-config

\.Rproj\.user/E9188691/cpp-definition-cache

\.Rproj\.user/E9188691/pcs/debug-breakpoints\.pper

\.Rproj\.user/E9188691/pcs/files-pane\.pper

\.Rproj\.user/E9188691/pcs/source-pane\.pper

\.Rproj\.user/E9188691/pcs/windowlayoutstate\.pper

\.Rproj\.user/E9188691/pcs/workbench-pane\.pper

\.Rproj\.user/E9188691/persistent-state

\.Rproj\.user/E9188691/rmd-outputs

\.Rproj\.user/E9188691/saved_source_markers

\.Rproj\.user/E9188691/sdb/per/t/656D3EDC

\.Rproj\.user/E9188691/sdb/prop/1177978B

\.Rproj\.user/E9188691/sdb/prop/141A02C2

\.Rproj\.user/E9188691/sdb/prop/185C4B6D

\.Rproj\.user/E9188691/sdb/prop/2311F230

\.Rproj\.user/E9188691/sdb/prop/29900343

\.Rproj\.user/E9188691/sdb/prop/2A26022

\.Rproj\.user/E9188691/sdb/prop/2F80D387

\.Rproj\.user/E9188691/sdb/prop/30E77A5E

\.Rproj\.user/E9188691/sdb/prop/340F05F9

\.Rproj\.user/E9188691/sdb/prop/3B18C3FE

\.Rproj\.user/E9188691/sdb/prop/3F24D3D6

\.Rproj\.user/E9188691/sdb/prop/43D17572

\.Rproj\.user/E9188691/sdb/prop/4782107A

\.Rproj\.user/E9188691/sdb/prop/55D62560

\.Rproj\.user/E9188691/sdb/prop/5C3521FC

\.Rproj\.user/E9188691/sdb/prop/5EC7948B

\.Rproj\.user/E9188691/sdb/prop/5F23517F

\.Rproj\.user/E9188691/sdb/prop/5FE6056B

\.Rproj\.user/E9188691/sdb/prop/6A634FDC

\.Rproj\.user/E9188691/sdb/prop/7021F96F

\.Rproj\.user/E9188691/sdb/prop/73AC545D

\.Rproj\.user/E9188691/sdb/prop/8267BFD5

\.Rproj\.user/E9188691/sdb/prop/8697C53B

\.Rproj\.user/E9188691/sdb/prop/8F2FEB34

\.Rproj\.user/E9188691/sdb/prop/9E1DE8FF

\.Rproj\.user/E9188691/sdb/prop/A1FF3248

\.Rproj\.user/E9188691/sdb/prop/A271D323

\.Rproj\.user/E9188691/sdb/prop/A9D5E8ED

\.Rproj\.user/E9188691/sdb/prop/B63FB500

\.Rproj\.user/E9188691/sdb/prop/BEB3848A

\.Rproj\.user/E9188691/sdb/prop/C03423C9

\.Rproj\.user/E9188691/sdb/prop/C182C4FE

\.Rproj\.user/E9188691/sdb/prop/C3638FC2

\.Rproj\.user/E9188691/sdb/prop/C81DE4E2

\.Rproj\.user/E9188691/sdb/prop/CADA2A36

\.Rproj\.user/E9188691/sdb/prop/CBA55EAA

\.Rproj\.user/E9188691/sdb/prop/D5607E56

\.Rproj\.user/E9188691/sdb/prop/DC6D53C1

\.Rproj\.user/E9188691/sdb/prop/DE5647CB

\.Rproj\.user/E9188691/sdb/prop/E25AE1CB

\.Rproj\.user/E9188691/sdb/prop/E2DB1D40

\.Rproj\.user/E9188691/sdb/prop/E4292E19

\.Rproj\.user/E9188691/sdb/prop/F225AC48

\.Rproj\.user/E9188691/sdb/prop/F2B233D3

\.Rproj\.user/E9188691/sdb/prop/F6016B5F

\.Rproj\.user/E9188691/sdb/prop/F633D331

\.Rproj\.user/E9188691/sdb/prop/F8090100

\.Rproj\.user/E9188691/sdb/prop/F82283EF

\.Rproj\.user/E9188691/sdb/prop/F82876C3

\.Rproj\.user/E9188691/sdb/prop/INDEX

\.Rproj\.user/E9188691/session-persistent-state

\.Rproj\.user/shared/notebooks/patch-chunk-names

\.Rproj\.user/shared/notebooks/paths
.Rproj.user

*.o

*.txt

*.Rproj

R/\.Rhistory

*.so
